
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <title>@Localizer["Title"]</title>
</head>
<section style="padding:2%" class="section section-lg bg-default ">
    <div class="container" style="margin-top:0px; min-height:1142px;">
        <h4 class="page-title"><i class="fa fa-picture-o ml-4" aria-hidden="true"></i>@Localizer["Galeri"]</h4>
        <div class="filters portfolio-menu mb-4">
            <div class="ui-group buttondiv">
                <div class="button-group js-radio-button-group" data-filter-group="color">
                    <button class="buttonShow button is-checked" data-filter="">@Localizer["Hepsi"]</button>
                    <button class="buttonShow button buttonShow button ml-3 mr-3" data-filter=".hippo">Hippo</button>
                    <button class="buttonShow button" data-filter=".dino">Dino</button>
                </div>
            </div>
        </div>

        <div class="grid portfolio-item">
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_dino.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_2.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_2.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_3.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_3.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_4.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_4.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_5.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_5.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_6.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_6.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_7.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_7.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_8.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_8.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_9.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_9.jpg" alt="portfolio" />
                </a>
            </div>
            <div class="item color-shape small round hippo">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo_10.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo_10.jpg" alt="portfolio" />
                </a>
            </div>


            <div class="item color-shape small round dino">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_hippo.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_hippo.jpg" />
                </a>
            </div>
            <div class="item color-shape small round dino">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino_2.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_dino_2.jpg" />
                </a>
            </div>
            <div class="item color-shape small round dino">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino_3.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_dino_3.jpg" />
                </a>
            </div>
            <div class="item color-shape small round dino">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino_4.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_dino_4.jpg" />
                </a>
            </div>
            <div class="item color-shape small round dino">
                <a href="http://kantar.esit.com.tr/img/Portfolio/esit_gallery_dino_5.jpg" data-fancybox="group">
                    <img src="~/img/Portfolio/esit_gallery_dino_5.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>